.App {
  text-align: center;
}

:local(.Applogo) {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.column ul {
   margin: 0;
   padding: 0;
   text-align: left;
 }
.column ul li{
   list-style: number;
 }
.column ul ul {
   margin-left: 16px;

 }
.column ul ul li{
  list-style: circle;
}

table{
  max-width: 22%;
  padding: 24px;
  float: left;
}

.row{
  margin: 20px;
}
.column{
  width: 23%;
  float: left;
  min-height: 350px;
  border:1px solid #333;
  margin: 12px;
}
.columnInner{
  padding: 24px 48px;
}
.menu {


}

.menu > ul{
  display: flex;
  flex: 1;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #333;
}

.menu > ul li{
  display: flex;
  flex-direction: row;
  padding: 16px;
}
